/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.hero-image {
    background-image: url("../images/hero3.png");

    height: 40vh;
    /* Position and center the image to scale nicely on all screens */
    background-position: right top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.hero-text {
    position: relative;
    margin-top: 3rem;
    color: lightgray;
    text-align: center;
    text-shadow:  .2rem .2rem darkblue ;
}

.hero-subtext {
    position: relative;
    text-align: center;
}

.header {
    margin-top: 1rem;
}

.content {
    margin-top: 1rem;
}
.profil {
    position: relative;
    max-width: 80%;
    border-radius: 100%;
    margin-top: 1rem;
}

.rounded-list {
    padding: 0;
    vertical-align: middle;
}

.rounded-list li {
    position: relative;
    background-color: #eee;
    border-radius: 2rem;
    text-align: center;
}

.rounded-list li:hover {
    background-color: darkgrey;
    color: dimgray;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-container > div {
    border-radius: 3rem;
    text-align: center;
    color: black;
    border: .2rem solid #383333;
}

.icon {
    -webkit-filter: brightness(100%);
    font-size: 3rem;
    color: royalblue;
    vertical-align: middle;
}

.icon:hover {
    -webkit-filter: brightness(50%);
}